
<div class="card card-outline-secondary">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-10">
        <div>
          <label>Selecione um cliente</label>
          <select class="form-control"  (change)="changeCliente($event)">
            <option [value]="">Selecione...</option>
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}</option>
          </select>
        </div>
      </div>

      <div class="form-group col-2">
          <div>
            <label>&nbsp;</label>
            <div><button type="button" class="btn btn-primary" (click)="acessarConta()">Acessar</button></div>
          </div>
        </div>        
    </div>
  </div>
</div>

<br/>

<div class="alert alert-danger" role="alert" [hidden]="!msgErro">
    {{msgErro}}
</div>

<div class="card card-outline-secondary">
    <div class="card-header">
      Dados da Conta
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-10">
          <div>
            <label>Nome</label>
            <input class="form-control" [(ngModel)]="conta.cliente.nome" disabled>
          </div>
        </div>

        <div class="form-group col-2">
          <div>
            <label>Saldo</label>
            <input class="form-control" [(ngModel)]="conta.saldo" disabled>
          </div>
        </div>    
        
        <div class="form-group col-2">
          <div>
            <label>Valor</label>
            <input class="form-control" [(ngModel)]="valorSaque">
          </div>
        </div> 
        
        <div class="form-group col-2">
          <div>
            <label>&nbsp;</label>
            <div><button class="btn btn-danger" (click)="saque()">Saque</button></div>
          </div>
        </div>  
        
        <div class="form-group col-2">
            <div>
              <label>Valor</label>
              <input class="form-control" [(ngModel)]="valorDeposito">
            </div>
          </div> 
          
          <div class="form-group col-2">
            <div>
              <label>&nbsp;</label>
              <div><button class="btn btn-success" (click)="deposito()">Depósito</button></div>
            </div>
          </div>          

      </div>

    </div>
  </div>

